@tailwind base;
@tailwind components;
@tailwind utilities;


[data-theme="dark"]{
    --bgcolor: linear-gradient(17deg, rgba(2,0,36,1) 0%, rgba(8,94,99,1) 35%, rgba(10,34,38,1) 100%);
    --textcolor:white;    
}

[data-theme="light"]{
    --bgcolor:linear-gradient(17deg, rgba(2,0,36,1) 0%, rgba(236,243,244,1) 34%, rgba(10,67,77,1) 100%);
    --textcolor:black;
    
}
[data-theme=""]{
    --bgcolor:linear-gradient(17deg, rgba(2,0,36,1) 0%, rgba(236,243,244,1) 34%, rgba(10,67,77,1) 100%);
    --textcolor:black;
    
}


body{
    background: var(--bgcolor);
    color:var(--textcolor)
}
